@import "tailwindcss";
@custom-variant hover (&:hover);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-red-primary: #f31a13;
  --color-blue-primary: #1f3565;
  --color-gray-200: #e6ecf2;
  --color-background: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: #e6ecf2;
  font-family: var(--font-poppins), sans-serif;
}

@keyframes scalePulse {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}
:where(.css-dev-only-do-not-override-1d8anct).ant-image .ant-image-cover:hover,
:where(.css-dev-only-do-not-override-1d8anct).ant-image
  .ant-image-cover::before,
:where(.css-dev-only-do-not-override-1d8anct).ant-image .ant-image-cover::after,
:where(.css-dev-only-do-not-override-1d8anct).ant-image .ant-image-cover {
  background: transparent !important;
}

:where(.css-dev-only-do-not-override-1d8anct).ant-carousel .slick-prev::after {
  color: #f31a13 !important;
  transform: rotate(-45deg) scale(1.6) !important;
}

:where(.css-dev-only-do-not-override-1d8anct).ant-carousel .slick-next::after {
  color: #f31a13 !important;
  transform: rotate(130deg) scale(1.6) !important;
}

:where(.css-dev-only-do-not-override-1d8anct).ant-carousel .slick-dots li {
  background-color: #1f3565;
}

/* Scrollbar inteira */
::-webkit-scrollbar {
  width: 10px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Parte que move */
::-webkit-scrollbar-thumb {
  background: #c9c9c9; /* cinza */
  border-radius: 9999px;
}

ant-btn
  css-dev-only-do-not-override-1d8anct
  css-var-root
  ant-btn-default
  ant-btn-color-default
  ant-btn-variant-outlined {
  border: 1px solid red;
}

/* 
@keyframes loadingAnim {
  0% {
    transform: scale(0.7) rotate(0deg);
  }
  50% {
    transform: scale(0.7) rotate(360deg);
  }
  100% {
    transform: scale(0.7) rotate(360deg);
  }
} */

/* @keyframes comboLoading {
  0% {
    transform: scale(0.75) rotate(0deg);
  }

  35% {
    transform: scale(1.05) rotate(0deg);
  }

  70% {
    transform: scale(0.75) rotate(0deg);
  }

  100% {
    transform: scale(0.75) rotate(360deg);
  }
} */
